<h2>{{creature.name}}{{#if creature.key_npc}}*{{/if}}</h2>
<div class="card creature-card" style="width: 28rem;">
    <ul class="list-group list-group-flush">
        {{#if creature.room}}
        <li class="list-group-item"><a href="/rooms/{{creature.room.id}}">Room: {{creature.room.name}}</a></li>
        {{else}}
        <li class="list-group-item">No Room Assigned</li>
        {{/if}}
        <li class="list-group-item">HP: {{creature.hp}}</li>
        <li class="list-group-item">Status: {{#if creature.is_alive}}Alive{{else}}Dead{{/if}}</li>
        {{#if creature.loot}}<li class="list-group-item">Carrying: {{creature.loot}}</li>{{/if}}
    </ul>
</div>
